@font-face {
  font-family: 'OpenSans';
  src: url('./fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #e8f0fe;
}

.random-image {
  padding-top: 50px;
}

.random-image-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  max-width: 1000px;
  margin-inline: auto;
}

.image-wrapper {
  width: 700px;
  height: 400px;
  border: 1px solid #000000;
}

.button {
  background-color: #a8d5ba;
  border-radius: 22px;
  border: none;

  height: 40px;
  width: 136px;

  color: #333;
  font-family: 'OpenSans';
  font-size: 20px;
  text-transform: uppercase;

  transition: all 0.5s ease-out;

  &:hover {
    background-color: #93bfa5;
  }
}